<mjml owa="deaktop">
  <mj-head>
    <mj-title>Personalwerk Newsletter Ostern 2024</mj-title>
    <mj-preview>Oster-Wimmelspaß: Jetzt klicken &amp; gewinnen!</mj-preview>
    <mj-breakpoint width="500px" />
    <mj-font name="Anton" href="https://fonts.googleapis.com/css?family=Anton" />
    <mj-attributes>
      <mj-text padding="0" line-height="20px" font-size="16px" />
      <mj-section padding="0px" />
      <mj-class name="strikethrough" text-decoration="line-through #e52746 solid 2px" />
      <mj-class name="footerlink" font-weight="100" text-decoration="none" align="center" text-transform="uppercase"/>
      <mj-class name="red" color="#e52746" />
      <mj-class name="blue" color="#003865" />
      <mj-class name="bg-red" background-color="#e52746" />
      <mj-class name="headline" font-size="30px" color="#003865" font-family="Anton" width="100%" align="center" text-transform="uppercase" />
      <mj-class name="paket" font-size="23px" line-height="32px" font-family="Anton" color="#003865" text-transform="uppercase" />
      <mj-class name="uvp" font-size="17px" line-height="20px" align="center" font-family="Anton" />
      <mj-class name="price" font-family="Anton" font-size="37px" padding="8px 0px 8px 0px" align="center" font-weight="bold" />
      <mj-all font-family="Roboto" />
    </mj-attributes>
    <mj-style inline="inline">
      .red {
        color: #e52746 !important;
      }
      a {
        font-weight: bold;
        color: #003865;
       
      }
      .news {
        font-size: 0.94rem !important;
        line-height: 1.2rem;
      }
      .news a {
        text-decoration: none;
      }
      h2.news a:hover {
        text-decoration: underline !important;
      }
      h2.news {
        font-size: 1.1rem;
      }
    </mj-style>
  </mj-head>

  <mj-body width="720px">
    <mj-section background-color="#f0f0f0">
      <mj-column padding="20px 0px 20px 0px">
        <mj-image src="https://lm.jobsintown.de/uploads/pw_logo_04_lang.png" width="297px" height="23px" alt="Personalwerk Logo">
        </mj-image>
      </mj-column>
      <mj-column padding="20px 0px 20px 0px">
        <mj-include path="sections/navigation.mjml"  />
      </mj-column>
    </mj-section>
    
    <mj-section padding="0px">
      <mj-column padding="0px">
        <mj-image src="https://lm.jobsintown.de/uploads/Headerbild-NL-Ostern_1398x846.jpg" width="720px" padding="0px" href="https://www.personalwerk.de/pw-osteraktion-24?utm_source=Newsletter&utm_medium=Maerz24&utm_campaign=Klick_Headerartikel@TrackLink" />
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column padding="20px">
        <mj-text color="#525252">
          <p style="font-family:Roboto;font-size:16px;line-height:20px;text-align:left;color:#525252;">
            <p><strong>Liebe Leserinnen und Leser,</strong></p>
            <p>Ostern steht vor der Tür. Das möchten wir von Personalwerk mit Ihnen gebührend feiern. </p>
            <p>Machen Sie mit bei unserem <strong>Oster-Wimmelspaß</strong>. Unter dem Motto <strong>„Schätzen und Gewinnen“ </strong>können Sie satte Gutscheingewinne abstauben.</p>
            <p>Viel Spaß beim Schätzen &amp; frohe Ostern wünscht<br>
              <strong>Ihr Team von Personalwerk </strong></p>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>

    <!--

    <mj-include path="sections/umfrage.mjml" />

    <mj-include path="sections/angebote.mjml" />

    <mj-include path="sections/kontakt.mjml" />
    -->

    <mj-include path="sections/news.mjml" />

    <mj-include path="sections/footer.mjml" />

  </mj-body>
</mjml>